<div class="row">
  <div class="small-12 medium-4 medium-offset-4 columns">
    <h1>No Frills Sleep Tracker</h1>
    <p>This is the No Frills Sleep Tracker:</p>
    <dl>
      <dt>No Tracking!</dt>
      <dd><p>We do not track you! Your data is saved in the cloud, in a fully anonymized manner. We cannot match a name to a sleep pattern;</p></dd>
      <dt>No Frills</dt>
      <dd><p>Track sleep, nothing more, nothing less. Some analytics are included, but you'll have to look elsewhere for deep insights into your data;</p></dd>
      <dt>No Install / No Hassle</dt>
      <dd><p>Keep a bookmark, install the app to your home page. The app is so lightweight, it's fast on slower smartphones.</p></dd>
    </dl>
    <form method="post" action="/">
      <label>Current timezone:
        <select name="timezone">
          <option value="America/New_York">New York</option>
        </select>
      </label>

      <button class="button primary" type="submit">Start</button>
    </form>
  </div>
</div>
