<div class="row expanded">
  <div class="small-12 medium-4 medium-offset-4 columns">
    <h1>Settings</h1>
    <p>Well, this isn't implemented yet&hellip; how embarassing!</p>

    <h1>About</h1>
    <p>This software was built as a reaction to ad-driven software, with unnecessary bells &amp; whistles.</p>
    <p>This web app is open source, under the MIT license. Please see <a href="https://github.com/francois/nofrills-sleep-tracker/blob/master/LICENSE">LICENSE</a> for details.</p>
    <p>Please find this application on GitHub at <a href="https://github.com/francois/nofrills-sleep-tracker">francois/nofrills-sleep-tracker</a>.
  </div>
</div>
